
<link rel="stylesheet" type="text/css" href="/static/css/mainPage.css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Chewy|Delius+Unicase|Gabriela|Kite+One" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.js"></script>
<script src="/static/js/circletype.min.js"></script>
<script src="/static/js/mainPage.js"></script>

<!-- Navigation -->
<video poster="" id="bgvid" playsinline autoplay muted loop>
<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
{{!--<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">--}}
<source src="/static/videos/kitty.mp4" type="video/mp4">
</video>
     <div class="shadow">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

           <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="static/images/petfinderLogoSmall.png" alt="">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/signup">Sign Up</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
     <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
<div class="row text-center">
    <div class="col-md-12">
        <h3 class="adaption">Pet Adoption Happens Here!</h3>
        <img class=" logo img-responsive img-rounded" src="static/images/paw.png" alt="Adopt">
    </div>
      
</div>
     