
   <!-- Navigation -->
<link rel="stylesheet" href="/static/css/login.css">
     <div class="shadow">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     
       <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="static/images/petfinderLogoSmall.png" alt=""></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/login">Login</a>
                      
                    </li>
                    <li>
                        <a href="/signup">Sign Up</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav><!-- /.navbar-collapse -->

<form class="" method="POST" action="/login" >
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
            <div class="login-form ">
                <div class="sign-in-htm">
                    {{#if wrongData}}
                     <h4 class="wrongPassword" class="text-danger"> <img src="static/images/bones.png" alt=""> {{wrongData}}</h4>
                     {{/if}}
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user"  name="username" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" name="password" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                <div class="hr"></div>
            </div>
        </div>
    </div>
</form>

