body {
    background: url('https://s-media-cache-ak0.pinimg.com/originals/e4/b3/db/e4b3db3c40790af44a691fe51f26026a.jpg') no-repeat;
    margin: 0;
    /*color: #6a6f8c;
    background: #c8c8c8;*/
    background-size: cover;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 40px;
    background: rgba(40, 57, 101, .9);
    opacity: .9;
}

.form-control {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    opacity: .9;
}